# More information about the configuration file can be found here:
# https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-config.html
version = 0.1

[default.global.parameters]
stack_name = "lambda-based-chat-backend"
region = "eu-central-1"

[default.build.parameters]
cached = true
parallel = true

[default.validate.parameters]
lint = true

[default.deploy.parameters]
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
resolve_s3 = true
s3_prefix = "lambda-based-chat-backend"
region = "eu-central-1"
parameter_overrides = "BlocketherLLMBaseUrl=\"https://llm.blockether.com/v1\""
image_repositories = ["FastAPIFunction=443526418261.dkr.ecr.eu-central-1.amazonaws.com/lambdabasedchatbackend09f29160/fastapifunctionead79d0drepo"]

[default.package.parameters]
resolve_s3 = true

[default.sync.parameters]
watch = true

[default.local_start_api.parameters]
warm_containers = "EAGER"

[default.local_start_lambda.parameters]
warm_containers = "EAGER"
